@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading-item {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
h1 {
  font-size: 20.48px;
  font-weight: 500;
  color: black;
  margin: 0;
}

h2 {
  font-size: 15.04px;
  letter-spacing: 0.32px;
  font-weight: 200;
  color: black;
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  font-size: 13.44px;
  font-weight: 500;
  color: black;
  margin: 0;
}

.logo {
  display: flex;
  align-self: center;
  width: 140px;
  padding-top: min(18.5px, 7%);
  padding-bottom: min(9px, 3.5%);
}

.heart-container {
  position: relative;
}
.heart-container .heart-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 2px 3px;
  outline: none;
  border: none;
  display: flex;
  align-items: flex-start;
  background: transparent;
  cursor: pointer;
  height: 18px;
}
.heart-container .heart-top .heart1 {
  color: black;
  background: white;
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
  transition: height ease 0.5s;
  font-size: 18px;
  width: 20px;
}
.heart-container .heart-top:hover .heart1,
.heart-container .heart-top:active .heart1 {
  height: 0;
}
.heart-container .heart-bottom {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 3px;
  outline: none;
  border: none;
  display: flex;
  align-items: flex-start;
  background: transparent;
  height: 18px;
  overflow: hidden;
}
.heart-container .heart-bottom .heart2 {
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
  transition: height ease 0.2s;
  font-size: 18px;
  background: linear-gradient(20deg, #FF79DA, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
  width: 20px;
}

button {
  cursor: pointer;
  font-size: 12.8px;
  background-color: transparent;
  border: none;
}

div [type=search] {
  background: transparent;
  outline: none;
  border: none;
  width: 115.2px;
  font-size: 13.44px;
  color: #353535;
}

.button__gradient {
  box-shadow: 0 4.48px 6.4px 0 #C5C5C5;
  border: 0 solid #FF79DA;
  border-radius: 22.4px;
  color: white;
  padding-left: min(17.8px, 5.5%);
  padding-right: min(19.4px, 6%);
  padding-top: min(14.5px, 4.5%);
  padding-bottom: min(16.2px, 5%);
  background: linear-gradient(175deg, rgb(255, 121, 218) 0%, rgba(147, 86, 255, 0.82) 90%);
  font-size: 13.12px;
  transition: box-shadow ease 0.2s;
}
.button__gradient:hover {
  background: linear-gradient(175deg, rgba(255, 121, 218, 0.85) 0%, rgba(147, 86, 255, 0.65) 90%);
  box-shadow: 0 6.7px 9.5px 0 #C5C5C5;
}

i {
  color: #7E7E7E;
}

.button__icon {
  box-shadow: 0 2.88px 8.96px 4.16px #E6E6E6;
  transition: all ease 0.2s;
  font-size: 13.12px;
  font-weight: 600;
  letter-spacing: -0.32px;
  border: 0px solid #FF79DA;
  border-radius: 22.4px;
  padding-top: min(29px, 9%);
  padding-bottom: min(22px, 7%);
  margin-bottom: min(32px, 10%);
  text-align: start;
  background-color: #F6F6F6;
  display: flex;
  margin-left: 8px;
  max-width: 306px;
  min-width: 280px;
}
.button__icon i {
  font-size: 15.36px;
  margin-right: 7%;
  margin-left: 3%;
  transition: color ease 0.2s;
}
.button__icon span {
  display: block;
  text-align: center;
  line-height: 21.44px;
  width: 19.84px;
  height: 19.84px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  overflow: visible;
  font-size: 11.2px;
  font-weight: 400;
  transform: translateX(-11.2px);
}

.button__icon:hover,
.button__icon:active {
  background-color: #F5EDFF;
  box-shadow: 0 5px 12px 6px #E6E6E6;
}
.button__icon:hover i,
.button__icon:active i {
  color: #9356DC;
}

.button__order {
  background-color: white;
  box-shadow: 0 4.16px 8px 1.28px #E5E5E5;
  transition: box-shadow ease 0.2;
  border-radius: 12.8px;
  width: min(350px, 100%);
  height: 55px;
  display: flex;
  align-items: flex-end;
  margin-top: 12.8px;
  padding-right: 0;
  overflow: hidden;
  white-space: nowrap;
}
@media only screen and (min-width: 992px) {
  .button__order {
    width: 450px;
  }
}
.button__order .content {
  width: 100%;
  padding-top: 9.6px;
  padding-bottom: 9.6px;
  padding-left: 4.8px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  text-align: left;
}
.button__order .content .recipe-title {
  font-size: 14.72px;
  letter-spacing: -0.32px;
  font-weight: 600;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.button__order .content .recipe-content {
  font-size: 11.84px;
  font-weight: 200;
  padding-top: 2.24px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.button__order .price {
  padding-bottom: 10.24px;
  font-weight: 600;
  letter-spacing: -0.96px;
  color: #353535;
  margin-right: 19px;
  margin-left: 10px;
}
.button__order .checkbox {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin ease 0.6s;
  height: calc(100% + 2px);
  font-size: 17px;
  background-color: #99E2D0;
  border-radius: 0 12.8px 12.8px 0;
  margin-bottom: -1px;
  margin-right: min(-67px, -20%);
}
@media only screen and (min-width: 768px) {
  .button__order .checkbox {
    margin-right: -70px;
  }
}
.button__order .checkbox i {
  color: white;
}

.button__order:hover,
.button__order:active {
  box-shadow: 4px 6px 10px 3px #E5E5E5;
}
.button__order:hover .checkbox,
.button__order:active .checkbox {
  margin-right: 0px;
}
.button__order:hover .checkbox i,
.button__order:active .checkbox i {
  animation-name: spin;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.card {
  text-decoration: none;
  border: 0 solid black;
  border-radius: 12.8px;
  color: black;
  overflow: hidden;
  background-color: white;
  margin-top: 16px;
  box-shadow: 0 3.2px 8px 1.6px #E5E5E5;
  transition: box-shadow ease 0.2s;
  width: max(290px, 20%);
}
.card .container-column {
  position: relative;
}
.card .label-new {
  position: absolute;
  color: #008766;
  font-size: 11.84px;
  background-color: #99E2D0;
  padding: 5.76px 10.88px 4.48px 10.88px;
  border-radius: 1.6px;
  top: 11.2px;
  right: 11.2px;
}
.card .label-new {
  display: none;
}
.card img {
  height: 150.4px;
  object-fit: cover;
}
.card .container-row {
  justify-content: space-between;
  align-items: center;
  padding-top: 14.4px;
  padding-left: 11.2px;
  padding-right: 14px;
  padding-bottom: 12.8px;
}
.card .link-menu {
  text-decoration: none;
  color: black;
}
.card .link-menu:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}
.card h3 {
  font-size: 15.36px;
}
.card p {
  padding-top: 3.2px;
  font-size: 14.4px;
  font-weight: 300;
}
.card .heart-container {
  margin-bottom: 15px;
}

.card--new .label-new {
  display: initial;
}

.card:hover {
  box-shadow: 0 8px 8px 3px #E5E5E5;
}

.first-section .search {
  background-color: #EAEAEA;
  box-shadow: inset 0 2.56px 2.24px 0 #CFCFCF;
}
.first-section .search .wrapper {
  padding-top: min(15px, 4.5%);
  padding-bottom: min(10px, 3.5%);
}
.first-section .search .fa-location-dot {
  font-size: 13.76px;
  padding-right: min(12px, 3.5%);
  color: #353535;
}
.first-section .search p {
  color: #353535;
}
.first-section .search .wrapper [type=search] {
  padding: 0;
}
.first-section .explore {
  text-align: center;
  padding-top: min(35px, 11%);
  padding-bottom: min(50px, 15.5%);
  background-color: #F6F6F6;
}
.first-section .explore h1 {
  padding-bottom: min(10px, 3%);
}
.first-section .explore h2 {
  padding-bottom: min(24.5px, 8.5%);
  color: #353535;
}

.second-section h1 {
  padding-top: min(39px, 12%);
  padding-bottom: min(26px, 8%);
}
@media only screen and (min-width: 768px) {
  .second-section h1 {
    text-align: center;
  }
}

.third-section h1 {
  padding-top: 44.8px;
}
@media only screen and (min-width: 768px) {
  .third-section h1 {
    text-align: center;
  }
}

footer span {
  font-family: "Shrikhand", cursive;
  font-size: 14.08px;
  letter-spacing: 1px;
  color: white;
  padding-top: 18.56px;
  padding-bottom: 9.6px;
}
footer ul {
  padding: 0 0 22.4px 0;
  margin: 0;
}
footer li {
  list-style-type: none;
  padding-top: 3.2px;
}
footer li .fa-utensils {
  color: white;
  font-size: 12.8px;
  margin-right: 9.6px;
}
footer li .fa-handshake-angle {
  color: white;
  font-size: 9.6px;
  margin-right: 9.6px;
}
footer li a {
  color: white;
  text-decoration: none;
  font-size: 13.12px;
  letter-spacing: 0.32px;
}

.restaurant-unique header .fa-arrow-left {
  position: absolute;
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  color: #353535;
  font-size: 17.28px;
}
.restaurant-unique header .logo {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.restaurant-unique .background-image {
  height: 186px;
}
.restaurant-unique .background-image img {
  height: 224px;
  width: 100%;
  object-fit: cover;
}
.restaurant-unique .order {
  background-color: #F6F6F6;
  border-radius: 38.4px 38.4px 0 0;
  position: relative;
}
.restaurant-unique .order .wrapper {
  max-width: 360px;
}
@media only screen and (min-width: 992px) {
  .restaurant-unique .order .wrapper {
    max-width: 992px;
  }
}
.restaurant-unique .order .restaurant-name {
  display: flex;
  position: relative;
  align-items: baseline;
  justify-content: space-between;
}
.restaurant-unique .order .restaurant-name h1 {
  font-family: "Shrikhand", cursive;
  font-size: 23px;
  font-weight: 100;
  letter-spacing: 0.48px;
  padding-top: 28.8px;
  padding-left: 4.8px;
}
.restaurant-unique .order .restaurant-name .heart-container {
  transform: translateY(-4px);
}
.restaurant-unique .order .restaurant-name .heart-container .heart1 {
  background-color: #F6F6F6;
}
.restaurant-unique .order h2 {
  text-transform: uppercase;
  font-size: 13.44px;
  letter-spacing: -0.032px;
  font-weight: 300;
  padding-bottom: 3.2px;
  padding-top: 27.2px;
}
.restaurant-unique .order .starter .button__order-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurant-unique .order .starter button {
  animation: loading-item 1s ease-out both;
}
.restaurant-unique .order .starter button:nth-of-type(1) {
  animation-delay: 0.25s;
}
.restaurant-unique .order .starter button:nth-of-type(2) {
  animation-delay: 0.5s;
}
.restaurant-unique .order .starter button:nth-of-type(3) {
  animation-delay: 0.75s;
}
.restaurant-unique .order .starter button:nth-of-type(4) {
  animation-delay: 1s;
}
.restaurant-unique .order .main .button__order-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurant-unique .order .main button {
  animation: loading-item 1s ease-out both;
}
.restaurant-unique .order .main button:nth-of-type(1) {
  animation-delay: 0.25s;
}
.restaurant-unique .order .main button:nth-of-type(2) {
  animation-delay: 0.5s;
}
.restaurant-unique .order .main button:nth-of-type(3) {
  animation-delay: 0.75s;
}
.restaurant-unique .order .main button:nth-of-type(4) {
  animation-delay: 1s;
}
.restaurant-unique .order .dessert .button__order-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurant-unique .order .dessert button {
  animation: loading-item 1s ease-out both;
}
.restaurant-unique .order .dessert button:nth-of-type(1) {
  animation-delay: 0.25s;
}
.restaurant-unique .order .dessert button:nth-of-type(2) {
  animation-delay: 0.5s;
}
.restaurant-unique .order .dessert button:nth-of-type(3) {
  animation-delay: 0.75s;
}
.restaurant-unique .order .dessert button:nth-of-type(4) {
  animation-delay: 1s;
}
.restaurant-unique .button__gradient {
  margin-top: 41.6px;
  margin-bottom: 70.4px;
  width: 160px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body .wrapper {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
}
body .container-row {
  display: flex;
}
body .container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: min(20px, 5%);
}
body .container-row__center {
  display: flex;
  justify-content: center;
}
body .container-column {
  display: flex;
  flex-direction: column;
}
body .container-column__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .second-section .button-container {
  gap: min(20px, 5%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
body .third-section {
  background-color: #F6F6F6;
  margin-bottom: 0;
}
body .third-section .container-card {
  padding-bottom: 56px;
  margin-bottom: 0;
}
body footer {
  background-color: #353535;
}
@media only screen and (min-width: 768px) {
  body footer {
    text-align: center;
  }
}

.restaurant-unique .wrapper {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 11.2px;
}
.restaurant-unique .text-container {
  border-bottom: 3.2px solid #99E2D0;
  width: 33.6px;
  margin-left: 4.8px;
}

/*# sourceMappingURL=main.css.map */
