@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading-item {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes text-effect {
  to {
    background-position: 200% center;
  }
}
@keyframes loading-fade {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes display-hidden {
  from, to {
    overflow: hidden;
  }
}
h1 {
  font-size: 20.48px;
  font-weight: 500;
  color: black;
  margin: 0;
}

h2 {
  font-size: 15.04px;
  letter-spacing: 0.32px;
  font-weight: 200;
  color: black;
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  font-size: 13.44px;
  font-weight: 500;
  color: black;
  margin: 0;
}

button {
  cursor: pointer;
  font-size: 13px;
  background-color: transparent;
  border: none;
}

.button__gradient {
  box-shadow: 0 4.5px 6.5px 0 #C5C5C5;
  border: 0 solid #FF79DA;
  border-radius: 22px;
  color: white;
  padding-left: 18px;
  padding-right: 19.5px;
  padding-top: 14.5px;
  padding-bottom: 16px;
  background: linear-gradient(175deg, rgb(255, 121, 218) 0%, rgba(147, 86, 255, 0.82) 90%);
  font-size: 13px;
  transition: box-shadow ease 0.2s;
}
.button__gradient:hover {
  background: linear-gradient(175deg, rgba(255, 121, 218, 0.85) 0%, rgba(147, 86, 255, 0.65) 90%);
  box-shadow: 0 6.5px 9.5px 0 #C5C5C5;
}

.button__icon {
  box-shadow: 0 4.5px 9px 4px #E6E6E6;
  transition: all ease 0.2s;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.3px;
  border: 0px solid #FF79DA;
  border-radius: 22px;
  padding-top: 29px;
  padding-bottom: 22px;
  text-align: start;
  background-color: #F6F6F6;
  display: flex;
  margin-left: 8px;
  width: 97%;
  margin: 0 auto;
  max-width: 400px;
}
.button__icon i {
  font-size: 15px;
  margin-right: 23px;
  margin-left: 10px;
  transition: color ease 0.2s;
}
.button__icon span {
  display: block;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  overflow: visible;
  font-size: 11px;
  font-weight: 400;
  transform: translateX(-11.5px);
}

.button__icon:hover,
.button__icon:active {
  background-color: #F5EDFF;
  box-shadow: 0 5px 12px 6px #E6E6E6;
}
.button__icon:hover i,
.button__icon:active i {
  color: #9356DC;
}

.button__order {
  background-color: white;
  box-shadow: 0 4px 8px 1.5px #E5E5E5;
  transition: box-shadow ease 0.2s;
  border-radius: 13px;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: flex-end;
  margin-top: 13px;
  padding-right: 0;
  overflow: hidden;
  white-space: nowrap;
}
@media only screen and (min-width: 992px) {
  .button__order {
    margin: 10px 0 0 10px;
  }
}
.button__order .content {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  text-align: left;
}
.button__order .content .recipe-title {
  font-size: 14.5px;
  letter-spacing: -0.3px;
  font-weight: 600;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.button__order .content .recipe-content {
  font-size: 12px;
  font-weight: 200;
  padding-top: 2.5px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.button__order .price {
  padding-bottom: 10px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #353535;
  margin-right: 19px;
  margin-left: 10px;
}
.button__order .checkbox {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin ease 0.6s;
  height: calc(100% + 2px);
  font-size: 17px;
  background-color: #99E2D0;
  border-radius: 0 13px 13px 0;
  margin-bottom: -1px;
  margin-right: -50px;
  flex-shrink: 0;
}
.button__order .checkbox i {
  color: white;
}

.button__order:hover,
.button__order:active {
  box-shadow: 4px 6px 10px 3px #E5E5E5;
}
.button__order:hover .checkbox,
.button__order:active .checkbox {
  margin-right: 0;
}
.button__order:hover .checkbox i,
.button__order:active .checkbox i {
  animation-name: spin;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.card {
  text-decoration: none;
  border: 0 solid black;
  border-radius: 13px;
  color: black;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 3px 8px 1.5px #E5E5E5;
  transition: box-shadow ease 0.2s;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .card {
    width: calc(50% - 30px);
  }
}
.card .container-column {
  position: relative;
}
.card .label-new {
  position: absolute;
  color: #008766;
  font-size: 12px;
  background-color: #99E2D0;
  padding: 6px 11px 4px 11px;
  border-radius: 1.5px;
  top: 11px;
  right: 11px;
}
.card .label-new {
  display: none;
}
.card img {
  height: 150px;
  object-fit: cover;
}
.card .container-row {
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-left: 11px;
  padding-right: 14px;
  padding-bottom: 13px;
}
.card .link-menu {
  text-decoration: none;
  color: black;
}
.card .link-menu:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}
.card h3 {
  font-size: 15px;
}
.card p {
  padding-top: 3px;
  font-size: 14.5px;
  font-weight: 300;
}
.card .heart-container {
  margin-bottom: 15px;
}

.card--new .label-new {
  display: initial;
}

.card:hover {
  box-shadow: 0 8px 8px 3px #E5E5E5;
}

.heart-container {
  position: relative;
}
.heart-container .heart-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 2px 3px;
  outline: none;
  border: none;
  display: flex;
  align-items: flex-start;
  background: transparent;
  cursor: pointer;
  height: 18px;
}
.heart-container .heart-top .heart1 {
  color: black;
  background: white;
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
  transition: height ease 0.5s;
  font-size: 18px;
  width: 20px;
}
.heart-container .heart-top:hover .heart1,
.heart-container .heart-top:active .heart1 {
  height: 0;
}
.heart-container .heart-bottom {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 3px;
  outline: none;
  border: none;
  display: flex;
  align-items: flex-start;
  background: transparent;
  height: 18px;
  overflow: hidden;
}
.heart-container .heart-bottom .heart2 {
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
  transition: height ease 0.2s;
  font-size: 18px;
  background: linear-gradient(20deg, #FF79DA, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
  width: 20px;
}

i {
  color: #7E7E7E;
}

.loader {
  overflow: auto;
  animation: display-hidden 3s;
}

.landing-loader {
  font-family: "Shrikhand", cursive;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  background: #353535;
  animation: loading-fade 3s forwards;
}
.landing-loader .logo-loader {
  font-size: 40px;
  background-image: linear-gradient(-225deg, #9356DC 0%, #99E2D0 40%, #008766 65%, #FF79DA 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-effect 2s linear infinite;
}
@media only screen and (min-width: 768px) {
  .landing-loader .logo-loader {
    font-size: 60px;
  }
}
@media only screen and (min-width: 992px) {
  .landing-loader .logo-loader {
    font-size: 80px;
  }
}

.logo {
  display: flex;
  align-self: center;
  width: 140px;
  padding-top: 18px;
  padding-bottom: 9px;
}

div [type=search] {
  background: transparent;
  outline: none;
  border: none;
  width: 115px;
  font-size: 13px;
  color: #353535;
}

footer {
  background-color: #353535;
}
footer span {
  font-family: "Shrikhand", cursive;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  padding-top: 19px;
  padding-bottom: 9.5px;
}
footer ul {
  padding: 0 0 22.5px 0;
  margin: 0;
}
footer li {
  list-style-type: none;
  padding-top: 3px;
}
footer li .fa-utensils {
  color: white;
  font-size: 13px;
  margin-right: 9.5px;
}
footer li .fa-handshake-angle {
  color: white;
  font-size: 9.5px;
  margin-right: 9.5px;
}
footer li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.3px;
}
@media only screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
}

header .fa-arrow-left {
  position: absolute;
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  color: #353535;
  font-size: 17px;
}
header .logo {
  display: block;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body .wrapper {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}
body .container-row {
  display: flex;
}
body .container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
body .container-row__center {
  display: flex;
  justify-content: center;
}
body .container-column {
  display: flex;
  flex-direction: column;
}
body .container-column__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section .search {
  background-color: #EAEAEA;
  box-shadow: inset 0 2.5px 2px 0 #CFCFCF;
}
.first-section .search .wrapper {
  padding-top: 15px;
  padding-bottom: 10px;
}
.first-section .search .fa-location-dot {
  font-size: 13.5px;
  padding-right: 12px;
  color: #353535;
}
.first-section .search p {
  color: #353535;
}
.first-section .search .wrapper [type=search] {
  padding: 0;
}
.first-section .explore {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 50px;
  background-color: #F6F6F6;
}
.first-section .explore h1 {
  padding-bottom: 10px;
}
.first-section .explore h2 {
  padding-bottom: 24.5px;
  color: #353535;
}

.second-section h1 {
  padding-top: 39px;
  padding-bottom: 6px;
}
@media only screen and (min-width: 768px) {
  .second-section h1 {
    text-align: center;
  }
}
.second-section .button-box {
  margin-top: 20px;
  width: 100%;
}
.second-section .button-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 57px;
}
@media only screen and (min-width: 992px) {
  .second-section .button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
    grid-gap: 25px;
  }
}

.third-section {
  background-color: #F6F6F6;
  margin-bottom: 0;
}
.third-section h1 {
  padding-top: 45px;
  padding-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .third-section h1 {
    text-align: center;
  }
}
.third-section .container-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 56px;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .third-section .container-card {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  .third-section .container-card {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.restaurant-unique .wrapper {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 11.2px;
}
.restaurant-unique .text-container {
  border-bottom: 3.2px solid #99E2D0;
  width: 33.6px;
  margin-left: 4.8px;
}
.restaurant-unique .background-image {
  height: 186px;
}
.restaurant-unique .background-image img {
  height: 224px;
  width: 100%;
  object-fit: cover;
}
.restaurant-unique .order {
  background-color: #F6F6F6;
  border-radius: 38px 38px 0 0;
  position: relative;
}
.restaurant-unique .order .restaurant-name {
  display: flex;
  position: relative;
  align-items: baseline;
  justify-content: space-between;
}
.restaurant-unique .order .restaurant-name h1 {
  font-family: "Shrikhand", cursive;
  font-size: 23px;
  font-weight: 100;
  letter-spacing: 0.5px;
  padding-top: 29px;
  padding-left: 5px;
}
.restaurant-unique .order .restaurant-name .heart-container {
  transform: translateY(-4px);
  margin-right: 10px;
}
.restaurant-unique .order .restaurant-name .heart-container .heart1 {
  background-color: #F6F6F6;
}
.restaurant-unique .order .menu-display {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .restaurant-unique .order .menu-display {
    flex-wrap: wrap;
    height: 320px;
    gap: 20px;
    width: calc(100% - 50px);
  }
}
.restaurant-unique .order h2 {
  text-transform: uppercase;
  font-size: 13.5px;
  letter-spacing: -0.03px;
  font-weight: 300;
  padding-bottom: 3px;
  padding-top: 27px;
}
.restaurant-unique .order .starter {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .restaurant-unique .order .starter {
    width: 33%;
  }
}
.restaurant-unique .order .starter button {
  animation: loading-item 1s ease-out both;
}
.restaurant-unique .order .starter button:nth-of-type(1) {
  animation-delay: 0.25s;
}
.restaurant-unique .order .starter button:nth-of-type(2) {
  animation-delay: 0.5s;
}
.restaurant-unique .order .starter button:nth-of-type(3) {
  animation-delay: 0.75s;
}
.restaurant-unique .order .starter button:nth-of-type(4) {
  animation-delay: 1s;
}
.restaurant-unique .order .starter button:nth-of-type(5) {
  animation-delay: 1.25s;
}
.restaurant-unique .order .starter button:nth-of-type(6) {
  animation-delay: 1.5s;
}
.restaurant-unique .order .starter button:nth-of-type(7) {
  animation-delay: 1.75s;
}
.restaurant-unique .order .starter button:nth-of-type(8) {
  animation-delay: 2s;
}
.restaurant-unique .order .starter button:nth-of-type(9) {
  animation-delay: 2.25s;
}
.restaurant-unique .order .starter button:nth-of-type(10) {
  animation-delay: 2.5s;
}
.restaurant-unique .order .starter button:nth-of-type(11) {
  animation-delay: 2.75s;
}
.restaurant-unique .order .starter button:nth-of-type(12) {
  animation-delay: 3s;
}
.restaurant-unique .order .starter button:nth-of-type(13) {
  animation-delay: 3.25s;
}
.restaurant-unique .order .starter button:nth-of-type(14) {
  animation-delay: 3.5s;
}
.restaurant-unique .order .starter button:nth-of-type(15) {
  animation-delay: 3.75s;
}
.restaurant-unique .order .starter button:nth-of-type(16) {
  animation-delay: 4s;
}
.restaurant-unique .order .starter button:nth-of-type(17) {
  animation-delay: 4.25s;
}
.restaurant-unique .order .starter button:nth-of-type(18) {
  animation-delay: 4.5s;
}
.restaurant-unique .order .starter button:nth-of-type(19) {
  animation-delay: 4.75s;
}
.restaurant-unique .order .starter button:nth-of-type(20) {
  animation-delay: 5s;
}
.restaurant-unique .order .starter button:nth-of-type(21) {
  animation-delay: 5.25s;
}
.restaurant-unique .order .starter button:nth-of-type(22) {
  animation-delay: 5.5s;
}
.restaurant-unique .order .starter button:nth-of-type(23) {
  animation-delay: 5.75s;
}
.restaurant-unique .order .starter button:nth-of-type(24) {
  animation-delay: 6s;
}
.restaurant-unique .order .starter button:nth-of-type(25) {
  animation-delay: 6.25s;
}
.restaurant-unique .order .starter button:nth-of-type(26) {
  animation-delay: 6.5s;
}
.restaurant-unique .order .starter button:nth-of-type(27) {
  animation-delay: 6.75s;
}
.restaurant-unique .order .starter button:nth-of-type(28) {
  animation-delay: 7s;
}
.restaurant-unique .order .starter button:nth-of-type(29) {
  animation-delay: 7.25s;
}
.restaurant-unique .order .starter button:nth-of-type(30) {
  animation-delay: 7.5s;
}
.restaurant-unique .order .starter button:nth-of-type(31) {
  animation-delay: 7.75s;
}
.restaurant-unique .order .starter button:nth-of-type(32) {
  animation-delay: 8s;
}
.restaurant-unique .order .starter button:nth-of-type(33) {
  animation-delay: 8.25s;
}
.restaurant-unique .order .starter button:nth-of-type(34) {
  animation-delay: 8.5s;
}
.restaurant-unique .order .starter button:nth-of-type(35) {
  animation-delay: 8.75s;
}
.restaurant-unique .order .starter button:nth-of-type(36) {
  animation-delay: 9s;
}
.restaurant-unique .order .starter button:nth-of-type(37) {
  animation-delay: 9.25s;
}
.restaurant-unique .order .starter button:nth-of-type(38) {
  animation-delay: 9.5s;
}
.restaurant-unique .order .starter button:nth-of-type(39) {
  animation-delay: 9.75s;
}
.restaurant-unique .order .starter button:nth-of-type(40) {
  animation-delay: 10s;
}
.restaurant-unique .order .starter button:nth-of-type(41) {
  animation-delay: 10.25s;
}
.restaurant-unique .order .starter button:nth-of-type(42) {
  animation-delay: 10.5s;
}
.restaurant-unique .order .starter button:nth-of-type(43) {
  animation-delay: 10.75s;
}
.restaurant-unique .order .starter button:nth-of-type(44) {
  animation-delay: 11s;
}
.restaurant-unique .order .starter button:nth-of-type(45) {
  animation-delay: 11.25s;
}
.restaurant-unique .order .starter button:nth-of-type(46) {
  animation-delay: 11.5s;
}
.restaurant-unique .order .starter button:nth-of-type(47) {
  animation-delay: 11.75s;
}
.restaurant-unique .order .starter button:nth-of-type(48) {
  animation-delay: 12s;
}
.restaurant-unique .order .starter button:nth-of-type(49) {
  animation-delay: 12.25s;
}
.restaurant-unique .order .starter button:nth-of-type(50) {
  animation-delay: 12.5s;
}
.restaurant-unique .order .starter button:nth-of-type(51) {
  animation-delay: 12.75s;
}
.restaurant-unique .order .starter button:nth-of-type(52) {
  animation-delay: 13s;
}
.restaurant-unique .order .starter button:nth-of-type(53) {
  animation-delay: 13.25s;
}
.restaurant-unique .order .starter button:nth-of-type(54) {
  animation-delay: 13.5s;
}
.restaurant-unique .order .starter button:nth-of-type(55) {
  animation-delay: 13.75s;
}
.restaurant-unique .order .starter button:nth-of-type(56) {
  animation-delay: 14s;
}
.restaurant-unique .order .starter button:nth-of-type(57) {
  animation-delay: 14.25s;
}
.restaurant-unique .order .starter button:nth-of-type(58) {
  animation-delay: 14.5s;
}
.restaurant-unique .order .starter button:nth-of-type(59) {
  animation-delay: 14.75s;
}
.restaurant-unique .order .starter button:nth-of-type(60) {
  animation-delay: 15s;
}
.restaurant-unique .order .starter button:nth-of-type(61) {
  animation-delay: 15.25s;
}
.restaurant-unique .order .starter button:nth-of-type(62) {
  animation-delay: 15.5s;
}
.restaurant-unique .order .starter button:nth-of-type(63) {
  animation-delay: 15.75s;
}
.restaurant-unique .order .starter button:nth-of-type(64) {
  animation-delay: 16s;
}
.restaurant-unique .order .starter button:nth-of-type(65) {
  animation-delay: 16.25s;
}
.restaurant-unique .order .starter button:nth-of-type(66) {
  animation-delay: 16.5s;
}
.restaurant-unique .order .starter button:nth-of-type(67) {
  animation-delay: 16.75s;
}
.restaurant-unique .order .starter button:nth-of-type(68) {
  animation-delay: 17s;
}
.restaurant-unique .order .starter button:nth-of-type(69) {
  animation-delay: 17.25s;
}
.restaurant-unique .order .starter button:nth-of-type(70) {
  animation-delay: 17.5s;
}
.restaurant-unique .order .starter button:nth-of-type(71) {
  animation-delay: 17.75s;
}
.restaurant-unique .order .starter button:nth-of-type(72) {
  animation-delay: 18s;
}
.restaurant-unique .order .starter button:nth-of-type(73) {
  animation-delay: 18.25s;
}
.restaurant-unique .order .starter button:nth-of-type(74) {
  animation-delay: 18.5s;
}
.restaurant-unique .order .starter button:nth-of-type(75) {
  animation-delay: 18.75s;
}
.restaurant-unique .order .starter button:nth-of-type(76) {
  animation-delay: 19s;
}
.restaurant-unique .order .starter button:nth-of-type(77) {
  animation-delay: 19.25s;
}
.restaurant-unique .order .starter button:nth-of-type(78) {
  animation-delay: 19.5s;
}
.restaurant-unique .order .starter button:nth-of-type(79) {
  animation-delay: 19.75s;
}
.restaurant-unique .order .starter button:nth-of-type(80) {
  animation-delay: 20s;
}
.restaurant-unique .order .starter button:nth-of-type(81) {
  animation-delay: 20.25s;
}
.restaurant-unique .order .starter button:nth-of-type(82) {
  animation-delay: 20.5s;
}
.restaurant-unique .order .starter button:nth-of-type(83) {
  animation-delay: 20.75s;
}
.restaurant-unique .order .starter button:nth-of-type(84) {
  animation-delay: 21s;
}
.restaurant-unique .order .starter button:nth-of-type(85) {
  animation-delay: 21.25s;
}
.restaurant-unique .order .starter button:nth-of-type(86) {
  animation-delay: 21.5s;
}
.restaurant-unique .order .starter button:nth-of-type(87) {
  animation-delay: 21.75s;
}
.restaurant-unique .order .starter button:nth-of-type(88) {
  animation-delay: 22s;
}
.restaurant-unique .order .starter button:nth-of-type(89) {
  animation-delay: 22.25s;
}
.restaurant-unique .order .starter button:nth-of-type(90) {
  animation-delay: 22.5s;
}
.restaurant-unique .order .starter button:nth-of-type(91) {
  animation-delay: 22.75s;
}
.restaurant-unique .order .starter button:nth-of-type(92) {
  animation-delay: 23s;
}
.restaurant-unique .order .starter button:nth-of-type(93) {
  animation-delay: 23.25s;
}
.restaurant-unique .order .starter button:nth-of-type(94) {
  animation-delay: 23.5s;
}
.restaurant-unique .order .starter button:nth-of-type(95) {
  animation-delay: 23.75s;
}
.restaurant-unique .order .starter button:nth-of-type(96) {
  animation-delay: 24s;
}
.restaurant-unique .order .starter button:nth-of-type(97) {
  animation-delay: 24.25s;
}
.restaurant-unique .order .starter button:nth-of-type(98) {
  animation-delay: 24.5s;
}
.restaurant-unique .order .starter button:nth-of-type(99) {
  animation-delay: 24.75s;
}
.restaurant-unique .order .main {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .restaurant-unique .order .main {
    width: 33%;
  }
}
.restaurant-unique .order .main button {
  animation: loading-item 1s ease-out both;
}
.restaurant-unique .order .main button:nth-of-type(1) {
  animation-delay: 0.25s;
}
.restaurant-unique .order .main button:nth-of-type(2) {
  animation-delay: 0.5s;
}
.restaurant-unique .order .main button:nth-of-type(3) {
  animation-delay: 0.75s;
}
.restaurant-unique .order .main button:nth-of-type(4) {
  animation-delay: 1s;
}
.restaurant-unique .order .dessert {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .restaurant-unique .order .dessert {
    width: 33%;
  }
}
.restaurant-unique .order .dessert button {
  animation: loading-item 1s ease-out both;
}
.restaurant-unique .order .dessert button:nth-of-type(1) {
  animation-delay: 0.25s;
}
.restaurant-unique .order .dessert button:nth-of-type(2) {
  animation-delay: 0.5s;
}
.restaurant-unique .order .dessert button:nth-of-type(3) {
  animation-delay: 0.75s;
}
.restaurant-unique .order .dessert button:nth-of-type(4) {
  animation-delay: 1s;
}
.restaurant-unique .button__gradient {
  margin-top: 41px;
  margin-bottom: 70px;
  width: 160px;
}

/*# sourceMappingURL=main.css.map */
