body {
    font-family: "Roboto", sans-serif;
    margin: 0;


    .wrapper {
        box-sizing: border-box;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 5%;
    }

    .container-row {
        display: flex;


    }

    .container-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .container-row__center {
        display: flex;
        justify-content: center;
    }

    .container-column {
        display: flex;
        flex-direction: column;
    }

    .container-column__center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .second-section {



        .button-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            padding-bottom: 57px;

            @media only screen and (min-width: 992px) {



                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
                grid-gap: 25px;

            }
        }
    }

    .third-section {
        background-color: #F6F6F6;
        margin-bottom: 0;




        .container-card {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 56px;
            margin-bottom: 0;

            @media only screen and (min-width: 768px) {
                flex-wrap: wrap;
                flex-direction: row;
            }

            @media only screen and (min-width: 992px) {
                flex-direction: row;
                flex-wrap: nowrap;

            }
        }

    }

    footer {
        background-color: #353535;

        @media only screen and (min-width: 768px) {
            text-align: center;
        }
    }
}

.restaurant-unique {


    .wrapper {
        box-sizing: border-box;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 11.2px;
    }

    .text-container {
        border-bottom: 3.2px solid $color-tertiary;
        width: 33.6px;
        margin-left: 4.8px;
    }
}