body {
    font-family: "Roboto", sans-serif;
    margin: 0;


    .wrapper {
        box-sizing: border-box;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 5%;
    }

    .container-row {
        display: flex;


    }

    .container-row__center {
        display: flex;
        justify-content: center;
    }

    .container-column {
        display: flex;
        flex-direction: column;
    }

    .container-column__center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .explore {
        .wrapper {
            max-width: 360px;
        }
    }

    .third-section {
        background-color: #F6F6F6;


        div:first-child {
            padding-bottom: 16px;
        }

    }

    footer {
        background-color: #353535;
    }
}

header {

    .wrapper {
        display: flex;
        align-items: center;
    }
}

.menu {


    .wrapper {
        box-sizing: border-box;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 11.2px;
    }

    .text-container {
        border-bottom: 3.2px solid $color-tertiary;
        width: 33.6px;
        margin-left: 4.8px;
    }
}