body {
    margin: 0;
    padding-top: 20px;
}

header {
    display: flex;
    justify-content: center;
}

.first-section {
    display: flex;
    flex-direction: column;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}