// Mixins for text

@mixin title {
    font-size: 20.48px;
    font-weight: 500;
    color: $c-black;
}

@mixin subtitle {
    font-size: 15.04px;
    letter-spacing: 0.32px;
    font-weight: 200;
    color: $c-black;
}

@mixin paragraph {
    font-size: 13.44px;
    font-weight: 500;
    color: $c-black;
}

// Mixins for color
@mixin gradiant {
    background: linear-gradient(20deg, $color-secondary, $color-primary 100%);
}