// Mixins for text

@mixin title {
    font-size: 6.4vw;
    font-weight: 500;
    color: $c-black;
}

@mixin subtitle {
    font-size: 4.7vw;
    letter-spacing: 0.1vw;
    font-weight: 200;
    color: $c-black;
}

@mixin paragraph {
    font-size: 4.2vw;
    font-weight: 500;
    color: $c-black;
}

// Mixins for color
@mixin gradiant {
    background: linear-gradient(20deg, $color-secondary, $color-primary 100%);
}