footer {
    background-color: #353535;

    span {
        font-family: "Shrikhand", cursive;
        font-size: 15px;
        letter-spacing: 1px;
        color: $c-white;
        padding-top: 19px;
        padding-bottom: 9.5px;
    }

    ul {
        padding: 0 0 22.5px 0;
        margin: 0;
    }

    li {
        list-style-type: none;
        padding-top: 3px;

    }

    li .fa-utensils {
        color: $c-white;
        font-size: 13px;
        margin-right: 9.5px;
    }

    li .fa-handshake-angle {
        color: $c-white;
        font-size: 9.5px;
        margin-right: 9.5px;
    }

    li a {
        color: $c-white;
        text-decoration: none;
        font-size: 13px;
        letter-spacing: 0.3px;
    }

    @media only screen and (min-width: 768px) {
        text-align: center;
    }
}