.landing-loader {
    font-family: 'Shrikhand', cursive;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    background: #353535;
    animation: loading-fade 3s forwards;

    h1 {
        font-size: 40px;
        background-image: linear-gradient(-225deg, #9356DC 0%, #99E2D0 40%, #008766 65%, #FF79DA 100%);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: text-effect 2s linear infinite;

        @media only screen and (min-width: 768px) {
            font-size: 60px;
        }

        @media only screen and (min-width: 992px) {
            font-size: 80px;
        }
    }
}

.logo {
    display: flex;
    align-self: center;
    width: 140px;
    padding-top: 18px;
    padding-bottom: 9px;
}

.heart-container {
    position: relative;

    .heart-top {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 2px 3px;
        outline: none;
        border: none;
        display: flex;
        align-items: flex-start;
        background: transparent;
        cursor: pointer;
        //border: 1px black solid;
        height: 18px;
        //transform: translateX(38px);

        .heart1 {
            color: $c-black;
            background: $c-white;
            height: 18px;
            white-space: nowrap;
            overflow: hidden;
            transition: height ease 0.5s;
            font-size: 18px;
            width: 20px;
        }

    }

    .heart-top:hover,
    .heart-top:active {
        .heart1 {
            height: 0;
        }
    }

    .heart-bottom {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px 3px;
        outline: none;
        border: none;
        display: flex;
        align-items: flex-start;
        background: transparent;
        //border: 1px solid black;
        height: 18px;
        overflow: hidden;

        .heart2 {
            height: 18px;
            white-space: nowrap;
            overflow: hidden;
            transition: height ease 0.2s;
            font-size: 18px;
            background: linear-gradient(20deg, $color-secondary, $color-primary 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-weight: 600;
            width: 20px;
        }
    }
}



button {
    cursor: pointer;
    font-size: 12.8px;
    background-color: transparent;
    border: none;
}

div [type=search] {
    background: transparent;
    outline: none;
    border: none;
    width: 115.2px;
    font-size: 13.44px;
    color: #353535;
}

.button__gradient {
    box-shadow: 0 4.48px 6.4px 0 #C5C5C5;
    border: 0 solid $color-secondary;
    border-radius: 22.4px;
    color: $c-white;
    padding-left: 17.5px;
    padding-right: 19.5px;
    padding-top: 14.5px;
    padding-bottom: 16px;
    background: linear-gradient(175deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 255, 0.82) 90%);
    font-size: 13.12px;
    transition: box-shadow ease 0.2s;

    &:hover {
        background: linear-gradient(175deg, rgba(255, 121, 218, 0.85) 0%, rgba(147, 86, 255, 0.65) 90%);
        box-shadow: 0 6.7px 9.5px 0 #C5C5C5;
    }
}



i {
    color: #7E7E7E;
}

.button__icon {
    box-shadow: 0 2.88px 8.96px 4.16px #E6E6E6;
    transition: all ease 0.2s;
    font-size: 13.12px;
    font-weight: 600;
    letter-spacing: -0.32px;
    border: 0px solid $color-secondary;
    border-radius: 22.4px;
    padding-top: 29px;
    padding-bottom: 22px;
    text-align: start;
    background-color: #F6F6F6;
    display: flex;
    margin-left: 8px;
    width: 97%;
    margin: 0 auto;
    max-width: 400px;
    //min-width: 280px;

    i {
        font-size: 15.36px;
        margin-right: 25px;
        margin-left: 10px;
        transition: color ease 0.2s;
    }

    span {
        display: block;
        text-align: center;
        line-height: 21.44px;
        width: 19.84px;
        height: 19.84px;
        background-color: $color-primary;
        color: white;
        border-radius: 50%;
        overflow: visible;
        font-size: 11.2px;
        font-weight: 400;
        transform: translateX(-11.2px);
    }
}

.button__icon:hover,
.button__icon:active {
    background-color: #F5EDFF;
    box-shadow: 0 5px 12px 6px #E6E6E6;

    i {
        color: $color-primary;
    }
}

.button__order {
    background-color: $c-white;
    box-shadow: 0 4.16px 8px 1.28px #E5E5E5;
    transition: box-shadow ease 0.2s;
    //border: 0 solid $c-white;
    border-radius: 12.8px;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: flex-end;
    margin-top: 12.8px;
    padding-right: 0;
    overflow: hidden;
    white-space: nowrap;

    @media only screen and (min-width: 992px) {
        margin: 10px 0 0 10px;
    }

    .content {
        width: 100%;
        padding-top: 9.6px;
        padding-bottom: 9.6px;
        padding-left: 4.8px;
        display: flex;
        flex-direction: column;
        min-width: 0;
        text-align: left;



        .recipe-title {

            font-size: 14.72px;
            letter-spacing: -0.32px;
            font-weight: 600;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .recipe-content {
            font-size: 11.84px;
            font-weight: 200;
            padding-top: 2.24px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .price {
        padding-bottom: 10.24px;
        font-weight: 600;
        letter-spacing: -0.96px;
        color: #353535;
        margin-right: 19px;
        margin-left: 10px;
    }

    .checkbox {
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: margin ease 0.6s;
        height: calc(100% + 2px);
        font-size: 17px;
        background-color: $color-tertiary;
        border-radius: 0 12.8px 12.8px 0;
        margin-bottom: -1px;
        margin-right: -50px;
        flex-shrink: 0;


        i {
            color: white;

        }
    }
}

.button__order:hover,
.button__order:active {

    box-shadow: 4px 6px 10px 3px #E5E5E5;

    .checkbox {
        margin-right: 0;


        i {
            animation-name: spin;
            animation-duration: 0.6s;
            animation-fill-mode: forwards;
        }
    }
}

.card {
    text-decoration: none;
    border: 0 solid $c-black;
    border-radius: 12.8px;
    color: $c-black;
    overflow: hidden;
    background-color: $c-white;
    margin-top: 16px;
    box-shadow: 0 3.2px 8px 1.6px #E5E5E5;
    transition: box-shadow ease 0.2s;
    width: 100%;

    @media only screen and (min-width: 768px) {
        width: calc(50% - 30px);
    }

    .container-column {
        position: relative;
    }

    .label-new {
        position: absolute;
        color: #008766;
        font-size: 11.84px;
        background-color: $color-tertiary;
        padding: 5.76px 10.88px 4.48px 10.88px;
        border-radius: 1.6px;
        top: 11.2px;
        right: 11.2px;
    }

    .label-new {
        display: none;
    }

    img {
        height: 150.4px;
        object-fit: cover;
    }

    .container-row {
        justify-content: space-between;
        align-items: center;
        padding-top: 14.4px;
        padding-left: 11.2px;
        padding-right: 14px;
        padding-bottom: 12.8px;
    }

    .link-menu {
        text-decoration: none;
        color: $c-black;
    }

    .link-menu:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
    }

    h3 {
        font-size: 15.36px;
    }

    p {
        padding-top: 3.2px;
        font-size: 14.4px;
        font-weight: 300;
    }

    .heart-container {
        margin-bottom: 15px;
    }

}

.card--new {
    .label-new {
        display: initial;
    }
}

.card:hover {
    box-shadow: 0 8px 8px 3px #E5E5E5;
}

.first-section {

    .search {
        background-color: $c-gray--darkened;
        box-shadow: inset 0 2.56px 2.24px 0 #CFCFCF;



        .wrapper {
            padding-top: 15px;
            padding-bottom: 10px;
        }

        .fa-location-dot {
            font-size: 13.76px;
            padding-right: 12px;
            color: #353535;
        }

        p {
            color: #353535;
        }

        .wrapper [type=search] {
            padding: 0;
        }
    }

    .explore {
        text-align: center;
        padding-top: 35px;
        padding-bottom: 50px;
        background-color: $c-gray;

        h1 {
            padding-bottom: 10px;
            //padding-left: 10%;
            //padding-right: 15%;
        }

        h2 {
            padding-bottom: 24.5px;
            //padding-left: 4.5%;
            color: #353535;
        }
    }
}

.second-section {
    h1 {
        padding-top: 39px;
        padding-bottom: 6px;

        @media only screen and (min-width: 768px) {
            text-align: center;
        }
    }

    .button-box {
        margin-top: 20px;
        width: 100%;
    }
}

.third-section {
    h1 {
        padding-top: 44.8px;

        @media only screen and (min-width: 768px) {
            text-align: center;
        }
    }
}

footer {
    span {
        font-family: "Shrikhand", cursive;
        font-size: 14.08px;
        letter-spacing: 1px;
        color: $c-white;
        padding-top: 18.56px;
        padding-bottom: 9.6px;
    }

    ul {
        padding: 0 0 22.4px 0;
        margin: 0;
    }

    li {
        list-style-type: none;
        padding-top: 3.2px;

    }

    li .fa-utensils {
        color: $c-white;
        font-size: 12.8px;
        margin-right: 9.6px;
    }

    li .fa-handshake-angle {
        color: $c-white;
        font-size: 9.6px;
        margin-right: 9.6px;
    }

    li a {
        color: $c-white;
        text-decoration: none;
        font-size: 13.12px;
        letter-spacing: 0.32px;
    }
}

// Page restaurant-unique

.restaurant-unique {


    header {
        .fa-arrow-left {
            position: absolute;
            text-align: left;
            padding-top: 20px;
            padding-left: 10px;
            color: #353535;
            font-size: 17.28px;
        }

        .logo {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }

    .background-image {

        height: 186px;

        img {
            height: 224px;
            width: 100%;
            object-fit: cover;
        }
    }

    .order {
        background-color: #F6F6F6;
        border-radius: 38.4px 38.4px 0 0;
        position: relative;


        .restaurant-name {
            display: flex;
            position: relative;
            align-items: baseline;
            justify-content: space-between;


            h1 {
                font-family: "Shrikhand", cursive;
                font-size: 23px;
                font-weight: 100;
                letter-spacing: 0.48px;
                padding-top: 28.8px;
                padding-left: 4.8px;
            }

            .heart-container {
                transform: translateY(-4px);
                margin-right: 10px;

                .heart1 {
                    background-color: #F6F6F6;
                }
            }

        }

        .menu-display {
            display: flex;
            flex-direction: column;


            @media only screen and (min-width: 992px) {
                flex-wrap: wrap;
                height: 320px;
                gap: 20px;
                width: calc(100% - 50px);
            }


        }

        h2 {
            text-transform: uppercase;
            font-size: 13.44px;
            letter-spacing: -0.032px;
            font-weight: 300;
            padding-bottom: 3.2px;
            padding-top: 27.2px;
        }

        .starter {
            width: 100%;

            @media only screen and (min-width: 992px) {
                width: 33%;
            }

            button {
                @for $i from 1 through 99 {
                    &:nth-of-type(#{$i}) {
                        animation-delay: #{$i * 0.25}s;
                    }
                }

                animation: loading-item 1s ease-out both;
            }
        }

        .main {
            width: 100%;

            @media only screen and (min-width: 992px) {
                width: 33%;
            }

            button {
                @for $i from 1 through 4 {
                    &:nth-of-type(#{$i}) {
                        animation-delay: #{$i * 0.25}s;
                    }
                }

                animation: loading-item 1s ease-out both;

            }
        }

        .dessert {
            width: 100%;

            @media only screen and (min-width: 992px) {
                width: 33%;
            }

            button {
                @for $i from 1 through 4 {
                    &:nth-of-type(#{$i}) {
                        animation-delay: #{$i * 0.25}s;
                    }
                }

                animation: loading-item 1s ease-out both;

            }
        }

    }

    .button__gradient {
        margin-top: 41.6px;
        margin-bottom: 70.4px;
        width: 160px;
    }
}