button {
    cursor: pointer;
    font-size: 13px;
    background-color: transparent;
    border: none;
}

.button__gradient {
    box-shadow: 0 4.5px 6.5px 0 #C5C5C5;
    border: 0 solid $color-secondary;
    border-radius: 22px;
    color: $c-white;
    padding-left: 18px;
    padding-right: 19.5px;
    padding-top: 14.5px;
    padding-bottom: 16px;
    background: linear-gradient(175deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 255, 0.82) 90%);
    font-size: 13px;
    transition: box-shadow ease 0.2s;

    &:hover {
        background: linear-gradient(175deg, rgba(255, 121, 218, 0.85) 0%, rgba(147, 86, 255, 0.65) 90%);
        box-shadow: 0 6.5px 9.5px 0 #C5C5C5;
    }
}

.button__icon {
    box-shadow: 0 4.5px 9px 4px #E6E6E6;
    transition: all ease 0.2s;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.3px;
    border: 0px solid $color-secondary;
    border-radius: 22px;
    padding-top: 29px;
    padding-bottom: 22px;
    text-align: start;
    background-color: #F6F6F6;
    display: flex;
    margin-left: 8px;
    width: 97%;
    margin: 0 auto;
    max-width: 400px;

    i {
        font-size: 15px;
        margin-right: 23px;
        margin-left: 10px;
        transition: color ease 0.2s;
    }

    span {
        display: block;
        text-align: center;
        line-height: 20px;
        width: 20px;
        height: 20px;
        background-color: $color-primary;
        color: white;
        border-radius: 50%;
        overflow: visible;
        font-size: 11px;
        font-weight: 400;
        transform: translateX(-11.5px);
    }
}

.button__icon:hover,
.button__icon:active {
    background-color: #F5EDFF;
    box-shadow: 0 5px 12px 6px #E6E6E6;

    i {
        color: $color-primary;
    }
}

.button__order {
    background-color: $c-white;
    box-shadow: 0 4px 8px 1.5px #E5E5E5;
    transition: box-shadow ease 0.2s;
    border-radius: 13px;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: flex-end;
    margin-top: 13px;
    padding-right: 0;
    overflow: hidden;
    white-space: nowrap;

    @media only screen and (min-width: 992px) {
        margin: 10px 0 0 10px;
    }

    .content {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        display: flex;
        flex-direction: column;
        min-width: 0;
        text-align: left;

        .recipe-title {

            font-size: 14.5px;
            letter-spacing: -0.3px;
            font-weight: 600;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .recipe-content {
            font-size: 12px;
            font-weight: 200;
            padding-top: 2.5px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .price {
        padding-bottom: 10px;
        font-weight: 600;
        letter-spacing: -1px;
        color: #353535;
        margin-right: 19px;
        margin-left: 10px;
    }

    .checkbox {
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: margin ease 0.6s;
        height: calc(100% + 2px);
        font-size: 17px;
        background-color: $color-tertiary;
        border-radius: 0 13px 13px 0;
        margin-bottom: -1px;
        margin-right: -50px;
        flex-shrink: 0;

        i {
            color: white;
        }
    }
}

.button__order:hover,
.button__order:active {
    box-shadow: 4px 6px 10px 3px #E5E5E5;

    .checkbox {
        margin-right: 0;

        i {
            animation-name: spin;
            animation-duration: 0.6s;
            animation-fill-mode: forwards;
        }
    }
}