.loader {
    overflow: auto;
    animation: display-hidden 3s;
}

.landing-loader {
    font-family: 'Shrikhand', cursive;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    background: #353535;
    animation: loading-fade 3s forwards;

    .logo-loader {
        font-size: 40px;
        background-image: linear-gradient(-225deg, #9356DC 0%, #99E2D0 40%, #008766 65%, #FF79DA 100%);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: text-effect 2s linear infinite;

        @media only screen and (min-width: 768px) {
            font-size: 60px;
        }

        @media only screen and (min-width: 992px) {
            font-size: 80px;
        }
    }
}